body {
    background-image: url("https://c1.wallpaperflare.com/preview/85/553/267/stars-background-blue-photoshop.jpg");
    background-attachment: fixed;
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    width: 100%;
    margin: 0;
}

header {
    padding: 5px;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    font-variant: small-caps;
    background: aliceblue;
    color: rgba(86, 1, 1, 0.9);
    font-size: 20px;
    text-shadow: 4px 4px 6px;
    background: -webkit-radial-gradient(center, #6c9990, #1a0101);
    background: -moz-radial-gradient(center, yellow, red);
    background: radial-gradient(center, yellow, red);
}

a {
    color: hsl(166, 96%, 41%);
}

a:visited {
    color: #660abf;
}

img {
    box-shadow: 8px 8px 8px;
}

.input_section {
    margin: 20px auto auto;
    min-width: 280px;
    max-width: 600px;
}

aside {
    opacity: 50%;
    background: #e3e3e3;
}

section {
    margin: 10px;
    border-color: #434242;
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    opacity: 80%;
    background: #d9d8d8;
    text-align: center;
    background: -webkit-gradient(
            linear, left top, right top,
            color-stop(15%, white), color-stop(50%, #4e8667),
            color-stop(75%, #03e9b2));
    background: -moz-linear-gradient(
            left, white 15%, #4e8667 50%, #03e9b2 75%);
    background: linear-gradient(
            90deg, white 15%, #4e8667 50%, #03e9b2 75%);
}

#super_submit {
    color: #ca04ca;
    text-decoration: underline;
    font-weight: bolder;
}

footer {
    position: sticky;
    padding: 5px;
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}


table {
    margin: auto auto 20px auto;
    border: 2px solid black;
    background: #ca04ca;
}

caption {
    font-weight: bolder;
    padding: 10px;
}

th, td {
    border: 1px solid #262525;
}

tbody {
    background: #858383;
    font-weight: lighter;
    color: #484848;
}

#form_first_name {
    float: left;
    margin-left: 20px
}

#form_last_name {
    float: right;
    margin-right: 20px
}

#form_last_name_next {
    clear: both;;
}

#flying_cat_playground {
    min-height: 300px;
    text-align: center;
}

#flying_cat {
    position: relative;
    -webkit-animation: movingImage linear 10s 1s 2 alternate;
    -moz-animation: movingImage linear 10s 1s 2 alternate;
    animation: movingImage linear 10s 2 1s alternate;
}

@-webkit-keyframes movingImage {
    0% {
        opacity: 0;
        left: 50px;
        top: 0px;
    }
    25% {
        opacity: 1;
        left: 0px;
        top: 50px;
    }
    50% {
        opacity: 0;
        left: 50px;
        top: 100px;
    }
    75% {
        opacity: 1;
        left: 100px;
        top: 50px;
    }
    100% {
        opacity: 0;
        left: 50px;
        top: 0px;
    }
}

@-moz-keyframes movingImage {
    0% {
        opacity: 0;
        left: 50px;
        top: 0px;
    }
    25% {
        opacity: 1;
        left: 0px;
        top: 50px;
    }
    50% {
        opacity: 0;
        left: 50px;
        top: 100px;
    }
    75% {
        opacity: 1;
        left: 100px;
        top: 50px;
    }
    100% {
        opacity: 0;
        left: 50px;
        top: 0px;
    }
}

@keyframes movingImage {
    0% {
        opacity: 0;
        left: 50px;
        top: 0px;
    }
    25% {
        opacity: 1;
        left: 0px;
        top: 50px;
    }
    50% {
        opacity: 0;
        left: 50px;
        top: 100px;
    }
    75% {
        opacity: 1;
        left: 100px;
        top: 50px;
    }
    100% {
        opacity: 0;
        left: 50px;
        top: 0;
    }


}